<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
    <meta name="description" content="To do App whith Js.">
    <title>Todo App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <nav class="navbar navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">Todo App</a>
    </nav>