<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <nav class="navbar navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">Todo App</a>
    </nav>