<%- include('partials/_header') %>

    <div class="container">
        <div class="row">
            <!--FORM-->
            <div class="col-md-5 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <input class="form-control" type="text" name="description"  id="description"  placeholder="description" value="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="state"  id="state"  placeholder="state" value="">
                            </div>
                            <div class="form-group"> 
                                <input type="hidden" name="user_id" id="user_id" value="">
                            </div>
                            <button class="btn btn-primary" type="submit" onclick="updateTask()">Update</button>
                            <a href="/tasks-ui/user/" class="btn btn-info" id="cancel-button">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <script type="text/javascript">
        
        //Get task details
        function getTask(){        
            // get taskid by removing /tasks/user/ from String
            let task_id = window.location.pathname.substr(15);

            const url = '/v1/tasks/'+task_id;
            fetch(url)
            .then((resp) => resp.json())
            .then(function(data) {
                //get values
                let description = data.description
                let state = data.state
                let user_id = data.user_id
                //put it into input value
                document.getElementById("description").value = description
                document.getElementById("state").value = state
                document.getElementById("user_id").value = user_id

                //set href for cancel buttom
                document.getElementById("cancel-button").href = "/tasks-ui/user/"+user_id;
            })
            .catch(function(error) {
                console.log(error);
            });
        }

        // save a task
        function updateTask(){  
            // get taskid by removing /tasks/user/ from String
            let task_id = window.location.pathname.substr(15);  
            let user_id = document.getElementById('user_id').value  
            let description = document.getElementById('description').value 
            let state = document.getElementById('state').value
            
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify({"description":description,"state":state,"user_id":user_id});

            var requestOptions = {
            method: 'PUT',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
            };

            fetch("/v1/tasks/"+task_id, requestOptions)
            .then(response => response.text())
            .then(result => location.replace("/tasks-ui/user/"+user_id))
            .catch(error => console.log('error', error));
        }

        getTask();
    </script>

<%- include('partials/_footer') %>   