<%- include('partials/_header') %>

    <div class="container">

        <div class="row">
            <h1>Tasks list</h1>
        </div>

        <div class="row">
            <!--FORM-->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <strong>Create Task</strong>
                        <form>
                            <div class="form-group">
                                <input class="form-control" type="text" name="description" id="description" placeholder="Description">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="state" id="state" placeholder="State">
                            </div>
                            <button class="btn btn-success" onclick="saveTask()">save</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- LIST -->
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Description</th>
                            <th>State</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="user_tasks">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <hr>
            <a href="/users-ui/" class="btn btn-info">Back to user list</a>
        </div>

    </div>
    <script type="text/javascript">
        
        // list users
        function listTasksByUserId(){

            function createNode(element) {
                return document.createElement(element);
            }
        
            function append(parent, el) {
                return parent.appendChild(el);
            }

            // get user id by removing /tasks/user/ from String
            let user_id = window.location.pathname.substr(15);

            const tbody = document.getElementById('user_tasks');
            const url = '/v1/tasks/user/'+ user_id;
            fetch(url)
            .then((resp) => resp.json())
            .then(function(data) {
                let user_tasks = data;
                let totalTasks = 0;
                return user_tasks.map(function(task) {
                totalTasks++;    
                let tr = createNode('tr'),
                    td = createNode('td'),
                    td2 = createNode('td');
                    td3 = createNode('td');
                    td4 = createNode('td');
                //put content on TD elements    
                td.innerHTML = `${totalTasks}`;
                td2.innerHTML = `${task.description}`;
                td3.innerHTML = `${task.state}`;
                td4.innerHTML = `
                <a href="/tasks-ui/edit/${task._id}" class="btn btn-warning">Edit</a> 
                <a href="#" class="btn btn-danger" onclick="deleteTask('${task._id}')">Delete</a>`;
                //append TD on TR
                append(tr, td);
                append(tr, td2);
                append(tr, td3);
                append(tr, td4);
                append(tbody, tr);
                })
            })
            .catch(function(error) {
                console.log(error);
            });
        }

        // save a task
        function saveTask(){          
            let description = document.getElementById('description').value 
            let state = document.getElementById('state').value
            let user_id = window.location.pathname.substr(15);
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify({"description":description,"state":state,"user_id":user_id});

            var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
            };

            fetch("/v1/tasks", requestOptions)
            .then(response => response.text())
            .then(result => location.reload())
            .catch(error => console.log('error', error));
        }

        // delete a task
        function deleteTask(task_id){
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = "";
            var requestOptions = {
            method: 'DELETE',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
            };

            fetch("/v1/tasks/"+task_id, requestOptions)
            .then(response => response.text())
            .then(result => location.reload())
            .catch(error => console.log('error', error));
        }

        listTasksByUserId();
    </script>

<%- include('partials/_footer') %> 