<%- include('partials/_header') %>

    <div class="container">

        <div class="row">
            <h1>Users List</h1>
        </div>

        <div class="row">
            <!--FORM-->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <strong>Create User</strong>
                        <form>
                            <div class="form-group">
                                <input class="form-control" type="text" name="name" id="user_name" placeholder="Name">
                            </div>
                            <button class="btn btn-success" onclick="saveUser()">save</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- LIST -->
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="users_list">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        
        // list users
        function listUsers(){

            function createNode(element) {
                return document.createElement(element);
            }
        
            function append(parent, el) {
                return parent.appendChild(el);
            }
        
            const tbody = document.getElementById('users_list');
            const url = '/v1/users';
            fetch(url)
            .then((resp) => resp.json())
            .then(function(data) {
                let users_list = data;
                let totalUsers = 0;
                return users_list.map(function(author) {
                totalUsers++;    
                let tr = createNode('tr'),
                    td = createNode('td'),
                    td2 = createNode('td');
                    td3 = createNode('td');
                //put content on TD elements    
                td.innerHTML = `${totalUsers}`;
                td2.innerHTML = `${author.name}`;
                td3.innerHTML = `
                <a href="/tasks-ui/user/${author._id}" class="btn btn-info">Tasks</a> 
                <a href="/users-ui/edit/${author._id}" class="btn btn-warning">Edit</a> 
                <a href="#" class="btn btn-danger" onclick="deleteUser('${author._id}')">Delete</a>`;
                //append TD on TR
                append(tr, td);
                append(tr, td2);
                append(tr, td3);
                append(tbody, tr);
                })
            })
            .catch(function(error) {
                console.log(error);
            });
        }

        // save an user
        function saveUser(){
            let user_name = document.getElementById('user_name').value
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify({"name":user_name});

            var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
            };

            fetch("/v1/users", requestOptions)
            .then(response => response.text())
            .then(result => location.reload())
            .catch(error => console.log('error', error));
        }

        // delete an user
        function deleteUser(user_id){
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = "";
            var requestOptions = {
            method: 'DELETE',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
            };

            fetch("/v1/users/"+user_id, requestOptions)
            .then(response => response.text())
            .then(result => location.reload())
            .catch(error => console.log('error', error));
        }

        listUsers();
    </script>

<%- include('partials/_footer') %> 